.contact {
  &__text {
    text-align: center;
    margin: 40px;

    font-size: 32px;
    text-transform: capitalize;
    position: relative;
    padding: 10px;
    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 100px;
      background-color: rgb(81, 72, 72);
      height: 3px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 100px;
      background-color: rgb(96, 87, 87);
      height: 3px;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__list {
    width: 25%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.number {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/Phone_icon.png");
  content: "";
  width: 40px;
  margin: 0px auto 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;

  background-size: contain;
}
.email {
  background-image: url("https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/message-circle-blue-512.png");
  content: "";
  width: 50px;
  height: 50px;
  margin: 0px auto 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.gis {
  background-image: url("https://freesvg.org/img/ts-map-pin.png");
  content: "";
  width: 50px;
  height: 50px;

  margin: 0px auto 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__list a {
  color: $color-base;
  transition: all 0.4s;
  font-weight: 500;
  &:hover {
    color: red;
  }
}
