.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo {
    margin: 22px 0;
    color: $color-base;
    font-size: 22px;
    letter-spacing: 3px;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-radius: 35%;
    padding-bottom: 5px;
    text-align: center;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__link {
    color: $color-base;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.7s;
    text-transform: uppercase;
    &:hover {
      color: rgb(253, 10, 10);
    }
  }
}
.toggle {
  position: relative;
  display: none;
  margin-right: 40px;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: rgb(5, 5, 5);
    top: 0;
    left: 0;
  }
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: rgb(1, 1, 1);
    top: 8px;
    left: 0;
  }
}
@media only screen and (max-width: 700px) {
  .header__menu {
    position: absolute;
    right: 0;
    top: 70px;

    border-radius: 5px;
    text-align: center;
    width: 100%;

    display: block;

    background-color: rgb(106, 105, 105);

    float: right;
  }
  .toggle {
    display: flex;
  }
  .topbar {
    display: none;
  }
  .header {
    height: 550px;
  }
}
