.footer {
  padding-bottom: 40px;
  background: linear-gradient(to bottom, rgb(193, 186, 186), rgb(54, 54, 54));
  &__logo {
    margin: 22px 0;
    color: $color-base;
    font-size: 22px;
    letter-spacing: 3px;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-radius: 35%;
    padding-bottom: 5px;

    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    color: $color-base;
    font-size: 22px;
    margin: 30px 0;
  }
  &__link {
    color: $color-base;
    transition: all 0.4s;
    &:hover {
      color: white;
    }
  }
}
